{{#if errorNotLoggedIn}}
  <div class="alert alert-warning">
    <a class="close" data-dismiss="alert">×</a>
    <div id="flash_error">You must be logged in to do that.</div>
  </div>
{{/if}}

<h2>Welcome to NeighborCook</h2>
<hr>
{{#if requests}}
<h4>People around you need...</h4>
<table class="table table-hover">
  {{#each requests}}
  <tr class="row">
    <td>{{item.name}}</td>
    <td>{{message}}</td>
    <!-- <td><a href="/profile/{{user.id}}">{{user.first_name}}</a></td> -->
    <td><a href="/messages/{{user.id}}?subject={{item.name}}&offer=1">Message {{user.first_name}}</a></td>
  </tr>
  {{/each}}
</table>
{{/if}}

{{#if offers}}
<h4>People around you are offering...</h4>
<table class="table table-hover">
  {{#each offers}}
    <tr class="row">
      <td>{{item.name}}</td>
      <td>{{message}}</td>
      <!-- <td><a href="/profile/{{user.id}}">{{user.first_name}}</a></td> -->
      <td><a href="/messages/{{user.id}}?subject={{item.name}}&offer=0">Message {{user.first_name}}</a></td>
    </tr>
  {{/each}}
</table>
{{/if}}

{{#if authored}}
<h4>Your open bulletins:</h4>
<table class="table table-hover">
  {{#each authored}}
    <tr class="row">
      <td class="{{type}}">{{type}}</td>
      <td>{{item.name}}</td>
      <td>{{message}}</td>
    </tr>
  {{/each}}
</table>
{{/if}}

<hr>
<div>
  <input type="text" class="inputtext" name="query" size="20" maxlength="100" placeholder="Ingredient Search" id="searchQuery">
  <button class="button" id="searchBtn">Search</button>
  <div id="searchResults"></div>
</div>
<hr>
<footer class="navbar">
  <ul class="list-inline">
    <li><a href="#">About</a></li>
    <a href="/help">Help Center</a>
    <li><a href="#">Terms of Service</a></li>
  </ul>
</footer>
