{{#if offer}}
	<h3>You are offering {{subject}} to {{recipientUser.first_name}}:</h3>
{{else}}
	<h3>You are requesting {{subject}} from {{recipientUser.first_name}}:</h3>
{{/if}}
<p>Sending email to: <span id="messageEmail">{{recipientUser.email}}</span></p>
<div class="form-group">
  <label class="col-xs-2">Subject</label>
  <input type="text" class="form-control" id="messageSubject" value="{{subject}}">
 </div>
 <div class="form-group">
  <label class="col-xs-2">Body</label>
  <textarea type="text" class="form-control" id="messageBody" placeholder="Quantity, type, and pick up time"></textarea>
 </div>
 <button class="button" id="sendMessageButton">Open email client</button>