<div class="profileContainer">
<h3>
	{{name}}
	{{#if editable}}
		<a href="#"><span class="glyphicon glyphicon-pencil font-small"></span></a>
	{{/if}}
</h3>
<!-- TODO: this button should allow users to edit the page (profile.js) -->

<!-- profile pic -->
<img class="img-rounded" src="http://lorempixel.com/300/300/people" alt="Profile Puicture"></img>
<p>Location: <strong>{{location}}</strong></p>
<p>Usage Stats:</p>
<table class="table table-bordered">
	<tr>
	<td>Donated</td>
	<td>Received</td>
	</tr>
	<tr>
	<td>{{donated}}</td>
	<td>{{received}}</td>
	</tr>
</table>
<div class="inventory">
	<p>Available Foods in Inventory:</p>
	<ul>
	{{#each inventory}}
		<li>{{name}}</li>
	{{/each}}
	</ul>
</div>

</div>